/* IMPORTS */
@import '../css/colors';
@import '../css/fonts';

.panel{
  h2{
    font-family: fira-semibold;
    color:$accentColor1;
    margin:0;
    font-size: 28px;
  }
}

.panel-default{
  border-color: #555;
}

.panel-heading{
  background-color: #333;
  border-color: #555;
}

//panel style when collapsed
.collapsed .panel-heading .panel-title h2 { 
  color:$textHighlightColor;
}

.panel-body{
  color: #717171;
  font-family: fira-book;
}

br{
    display: block;
    margin: 10px 0;
    content: " ";
    font-size: 24%;
}

br:before {
  display: block;
  margin-top: 10px;
  content: "";
}