/* COLORS */
$bgColor: #222;
$textColor: #999;
$textHighlightColor: #ebebeb;
$accentColor1: #33ffff;
$accentColor1Shadow: #00cccc;
$accentColor2: #ffa509;
$accentColor2Shadow: #cc6600;

/* Alternate Palette */
$bgColor: #222;
$textColor: #999;
$textHighlightColor: #ebebeb;
$accentColor1: #00e4ff;
$accentColor1Shadow: #00cccc;
$accentColor2: #ffa509;
$accentColor2Shadow: #cc6600;
