/* FONTS */

//BLACKOUT
@font-face {
    font-family: blackout-midnight;
    src: url('/assets/fonts/blackout/blackout_midnight-webfont.ttf');
}

@font-face {
    font-family: blackout-two-am;
    src: url('/assets/fonts/blackout/blackout_two_am-webfont.ttf');
}