/* FONTS */

//BLACKOUT
@font-face {
    font-family: blackout-midnight;
    src: url('/assets/fonts/blackout/blackout_midnight-webfont.ttf');
}

@font-face {
    font-family: blackout-two-am;
    src: url('/assets/fonts/blackout/blackout_two_am-webfont.ttf');
}

//FIRA
@font-face {
  font-family: fira-thin;
  src: url('/assets/fonts/fira/FiraSans-Thin.otf');
}

@font-face {
  font-family: fira-book;
  src: url('/assets/fonts/fira/FiraSans-Book.otf');
}

@font-face {
  font-family: fira-bold;
  src: url('/assets/fonts/fira/FiraSans-Bold.otf');
}