  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About</h1>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="video-container">
      <iframe class="video" width="100%" height="100%" src="https://www.youtube.com/embed/9ncMdmLFe4Y?rel=0&amp;showinfo=0?ecver=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <!--ABOUT TEXT -->
  <div class="row">
    <div class="col-md-12">
      <p>
        The Rules™ is a global collective of activists, writers, researchers, coders, and others focused on addressing the root causes of inequality, poverty and climate change. We connect the movements and individuals working in diverse ways to resist and reimagine the world and to make known the alternatives to neoliberal capitalism.
      </p>
      <p>
        We recognise the value of all  forms of knowledge - from Indigenous to academic - and weave these into stories that explain how we arrived at our current economic, social, political and environmental crises. We use stories because it is stories that shape the world today. They tell us intuitively how power has come to rest in the hands of the few, rather than the many. Stories reveal how our struggles (from land to labour, biodiversity to our very bodies) are part of the same global system. A system that prioritises the production of capital over everything else is destined to extract all the value it can, from land and people, until that value is exhausted, and the planet destroyed.
      </p>
      <p>
        By studying the stories that the corporate and political elites tell we can see how alternative ones can emerge, and with them, the hope that our societies can be organised differently. We have the power to change the rules.
      </p>
      <h2>[SUB-HEAD]</h2>
      <p>
        In 2023 TR will supernovae. Just over ten years after our organisation was formed, it’ll cease to exist. We think that doing so will help us focus on making tangible contributions to this work that will last beyond ourselves; it will allow us to take different types of risks; and it will keep us from becoming preoccupied with our own survival, perpetuating the ‘development industrial complex’ of large NGOs. Rather, we are committing our time and energies to serve the transition to the post-capitalist world we know is possible. And indeed, its on its way.
      </p>
      <a>Blog</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h2>Contact</h2>
      <p>
        Keytar heirloom tote bag 3 wolf moon typewriter banjo sunt. Mumblecore dolor kitsch, deep v offal slow-carb biodiesel enim. Pork belly cardigan microdosing quinoa aliqua nisi. Wolf proident tousled bitters fingerstache. Quis kitsch est enim freegan, etsy chicharrones. Distillery ramps mlkshk whatever, artisan mustache eiusmod PBR&B occaecat XOXO exercitation pork belly activated charcoal squid trust fund. Chia letterpress readymade la croix 8-bit etsy swag, pok pok et man bun mlkshk salvia green juice.
      </p>
      <a href="">info@therules.org</a><br/>
      <a href="">Facebook</a> / <a href="">Twitter</a>
    </div>

    <div class="col-md-6">
      <h2>Find out more…</h2>
      <p>
        Keytar heirloom tote bag 3 wolf moon typewriter banjo sunt. Mumblecore dolor kitsch, deep v offal slow-carb biodiesel enim. Pork belly cardigan microdosing quinoa aliqua nisi.
      </p>
      <a routerLink="/faq">FAQ</a><br/><br/>

      <p>
        Distillery ramps mlkshk whatever, artisan mustache eiusmod PBR&B occaecat XOXO exercitation pork belly activated charcoal squid trust fund. Chia letterpress readymade la croix 8-bit etsy swag, pok pok et man bun mlkshk salvia green juice.
      </p>
      <a routerLink="/get-involved">Get Involved</a>
      
    </div>

  </div>
</div>