<app-banner [imgSrc]="'assets/images/IMG_9348.jpg'" [title]="'About'"></app-banner>  

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="video-container">
      <iframe class="video" width="100%" height="100%" src="https://www.youtube.com/embed/9ncMdmLFe4Y?rel=0&amp;showinfo=0?ecver=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <!--ABOUT TEXT -->
  <div class="row">
    <div class="col-md-12">
      <h2>About The Rules</h2>
      <p>
        In 2012, The Rules started out asking why poverty still existed. In looking for the answers, we have grown into a global collective of activists, writers, artists and academics who work to expose the root causes of not just poverty but also of  inequality and climate change.
      </p>
      <p>
        What we have learned in that time is how much stories shape the world, and also how they can help change it.
      </p>
      <p>
        Narratives can be used to explain how power has come to rest in the hands of the few, rather than the many.  They reveal how our struggles - from land to labour, biodiversity to our very bodies - are part of the same global system, one that prioritises the production of capital - in other words, economic growth - over everything else, and at the expense of everything else.
      </p>
      <p>
        We call that system neoliberal capitalism. Aside from revealing it to be at the root of the crises of our civilisation, we tell stories about alternative systems emerging so that people see that they have the power to change the rules. Finally, we connect the movements working in diverse ways to resist, and reimagine the world.
      </p>

      <h2>What we do</h2>
      <p>There are several ways in which we work to make the radical idea of a post-capitalist world commonsense:</p>

    </div>
  </div>

  <div class="row badges">
    <div class="col-md-4 col-sm-4 col-xs-4" *ngFor="let badge of badges; let i = index" (click)="selectBadge(i)">
      <img src="assets/images/badges/{{badge.id}}.png" alt="{{badge.title}}" height="auto" width="100%">
      {{badge.title}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        {{badges[selectedBadge].text}}
      </p>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h2>Contact</h2>
      <p>
        Keytar heirloom tote bag 3 wolf moon typewriter banjo sunt. Mumblecore dolor kitsch, deep v offal slow-carb biodiesel enim. Pork belly cardigan microdosing quinoa aliqua nisi. Wolf proident tousled bitters fingerstache. Quis kitsch est enim freegan, etsy chicharrones. Distillery ramps mlkshk whatever, artisan mustache eiusmod PBR&B occaecat XOXO exercitation pork belly activated charcoal squid trust fund. Chia letterpress readymade la croix 8-bit etsy swag, pok pok et man bun mlkshk salvia green juice.
      </p>
      <a href="">info@therules.org</a><br/>
      <a href="">Facebook</a> / <a href="">Twitter</a>
    </div>

    <div class="col-md-6">
      <h2>Find out more…</h2>
      <p>
        Keytar heirloom tote bag 3 wolf moon typewriter banjo sunt. Mumblecore dolor kitsch, deep v offal slow-carb biodiesel enim. Pork belly cardigan microdosing quinoa aliqua nisi.
      </p>
      <a routerLink="/faq">FAQ</a><br/><br/>

      <p>
        Distillery ramps mlkshk whatever, artisan mustache eiusmod PBR&B occaecat XOXO exercitation pork belly activated charcoal squid trust fund. Chia letterpress readymade la croix 8-bit etsy swag, pok pok et man bun mlkshk salvia green juice.
      </p>
      <a routerLink="/get-involved">Get Involved</a>
      
    </div>

  </div>
</div>