.banner{
 /* background-image: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0)), url(/assets/images/join-the-movement.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-attachment: fixed;
}

h1{
  font-size: 60px;
}