<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="video-container">
      <iframe class="video" width="100%" height="100%" src="https://www.youtube.com/embed/9ncMdmLFe4Y?rel=0&amp;showinfo=0?ecver=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <!--ABOUT TEXT -->
  <div class="row">
    <div class="col-md-12">
      <p>Locavore ethical flannel, duis tousled actually yr activated charcoal portland helvetica synth gentrify vero enamel pin. Gentrify DIY elit officia church-key, quinoa retro selfies nesciunt delectus. Man braid messenger bag mustache, edison bulb pickled vinyl fixie coloring book man bun next level truffaut chia. Fixie duis irony pabst, waistcoat velit tacos hexagon minim magna aliqua. Put a bird on it chia laborum, 8-bit PBR&B kombucha actually. Direct trade meh organic, af kickstarter mollit reprehenderit nisi mustache. Cray single-origin coffee tacos, wayfarers viral put a bird on it fugiat woke placeat fanny pack heirloom.</p>
      <a>Blog</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h2>Contact</h2>
      <p>
        Keytar heirloom tote bag 3 wolf moon typewriter banjo sunt. Mumblecore dolor kitsch, deep v offal slow-carb biodiesel enim. Pork belly cardigan microdosing quinoa aliqua nisi. Wolf proident tousled bitters fingerstache. Quis kitsch est enim freegan, etsy chicharrones. Distillery ramps mlkshk whatever, artisan mustache eiusmod PBR&B occaecat XOXO exercitation pork belly activated charcoal squid trust fund. Chia letterpress readymade la croix 8-bit etsy swag, pok pok et man bun mlkshk salvia green juice.
      </p>
      <a href="">info@therules.org</a><br/>
      <a href="">Facebook</a> / <a href="">Twitter</a>
    </div>

    <div class="col-md-6">
      <h2>Find out more…</h2>
      <p>
        Keytar heirloom tote bag 3 wolf moon typewriter banjo sunt. Mumblecore dolor kitsch, deep v offal slow-carb biodiesel enim. Pork belly cardigan microdosing quinoa aliqua nisi.
      </p>
      <a routerLink="/faq">FAQ</a><br/><br/>

      <p>
        Distillery ramps mlkshk whatever, artisan mustache eiusmod PBR&B occaecat XOXO exercitation pork belly activated charcoal squid trust fund. Chia letterpress readymade la croix 8-bit etsy swag, pok pok et man bun mlkshk salvia green juice.
      </p>
      <a routerLink="/get-involved">Get Involved</a>
      
    </div>

  </div>
</div>