/* IMPORTS */
@import 'css/colors';
@import 'css/fonts';

//TOP NAV BAR
.navbar{
  background-color: #444;
  text-transform: uppercase;
  font-family: blackout-midnight;
  margin:0;
  z-index: 999;
  &.home{
    background-color: transparent;
  }
}

.navbar-brand{
  background-color: $accentColor1;
  font-size: 2em;
  color: $bgColor;
}

.navbar-brand:hover{
  background-color: $accentColor1Shadow;
  color: $bgColor;
}

.navbar-toggle{
  background-color: $accentColor1;
  .icon-bar{
    background-color: black;
  }
}

//NAV LINKS
nav a {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: $accentColor1;
  font-size: 1.5em;
 // border-radius: 4px;
}
nav a:focus {
  color: black;
}

.nav > li > a:focus {
  color: $accentColor1Shadow;
}

.nav > li{
  //background-color: black;
   // border-bottom: 1px solid black;

}

nav a:hover {
  color: $accentColor1Shadow;
  background-color: transparent;
}
nav a.active {
  //color: #039be5;
}

//FOOTER
$footerTextColor:#adadad;
.panel-footer{
  background-color: black;
  font-family: fira-regular;
  color: #555;
  border-top: none;
  margin-top: 2em;
  a{
    color: #adadad;
  }
}
