/* IMPORTS */
@import 'css/colors';
@import 'css/fonts';

//NAV BAR
.navbar{
  background-color: $bgColor;
  text-transform: uppercase;
  font-family: blackout-midnight;
}

.navbar-brand{
  background-color: $accentColor1;
  font-size: 2em;
  color: $bgColor;
}

.navbar-brand:hover{
  background-color: $accentColor1Shadow;
  color: $bgColor;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: $accentColor2;
 // border-radius: 4px;
}
nav a:visited, a:link {
  //color: #607D8B;
}
nav a:hover {
  color: $accentColor2Shadow;
  background-color: transparent;
}
nav a.active {
  //color: #039be5;
}
