/* IMPORTS */
@import 'css/colors';
@import 'css/fonts';

//TOP NAV BAR
.navbar{
  background-color: #444;
  text-transform: uppercase;
  font-family: blackout-midnight;
 // z-index: -1;
  &.home{
    background-color: transparent;
  }
}

.navbar-brand{
  background-color: $accentColor1;
  font-size: 2em;
  color: $bgColor;
}

.navbar-brand:hover{
  background-color: $accentColor1Shadow;
  color: $bgColor;
}

.navbar-toggle{
  background-color: $accentColor1;
  .icon-bar{
    background-color: black;
  }
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: $accentColor2;
  font-size: 1.5em;
 // border-radius: 4px;
}
nav a:focus {
  color: black;
}

.nav > li > a:focus {
  color: $accentColor2Shadow;
}

nav a:hover {
  color: $accentColor2Shadow;
  background-color: transparent;
}
nav a.active {
  //color: #039be5;
}

//FOOTER
.panel-footer{
  background-color: $accentColor1;
  font-family: blackout-midnight;
  color: black;
  a{
    color: black;
  }
}
