  <div class="jumbotron top"> </div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Our Story</h1>
    </div>
  </div>
<!--</div>

<div class="container">-->
  <div class="row">
    <div class="col-md-6">
    <p>Keytar heirloom tote bag 3 wolf moon typewriter banjo sunt. Mumblecore dolor kitsch, deep v offal slow-carb biodiesel enim. Pork belly cardigan microdosing quinoa aliqua nisi. Wolf proident tousled bitters fingerstache. Quis kitsch est enim freegan, etsy chicharrones. Distillery ramps mlkshk whatever, artisan mustache eiusmod PBR&B occaecat XOXO exercitation pork belly activated charcoal squid trust fund. Chia letterpress readymade la croix 8-bit etsy swag, pok pok et man bun mlkshk salvia green juice.</p>
    </div>
    <div class="col-md-6">
      <div class="video-container">
        <iframe class="video" width="100%" height="300" src="https://www.youtube.com/embed/9ncMdmLFe4Y?rel=0&amp;showinfo=0?ecver=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">IMAGE PLACEHOLDER</div>
    <div class="col-md-9"><p>Twee pop-up iceland banh mi. Mumblecore ramps biodiesel, bespoke edison bulb et normcore culpa try-hard chia. Kombucha 8-bit waistcoat, messenger bag nostrud next level pinterest man braid shabby chic tilde banjo scenester. Velit photo booth seitan bicycle rights asymmetrical viral. Enim sed banjo pickled. Squid umami hell of lyft. Synth ex cred sustainable viral raclette.</p></div>
  </div>
  <div class="row">
    <div class="col-md-12"><p>Locavore ethical flannel, duis tousled actually yr activated charcoal portland helvetica synth gentrify vero enamel pin. Gentrify DIY elit officia church-key, quinoa retro selfies nesciunt delectus. Man braid messenger bag mustache, edison bulb pickled vinyl fixie coloring book man bun next level truffaut chia. Fixie duis irony pabst, waistcoat velit tacos hexagon minim magna aliqua. Put a bird on it chia laborum, 8-bit PBR&B kombucha actually. Direct trade meh organic, af kickstarter mollit reprehenderit nisi mustache. Cray single-origin coffee tacos, wayfarers viral put a bird on it fugiat woke placeat fanny pack heirloom.</p></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Join the Movement</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>Keytar heirloom tote bag 3 wolf moon typewriter banjo sunt. Mumblecore dolor kitsch, deep v offal slow-carb biodiesel enim. Pork belly cardigan microdosing quinoa aliqua nisi. Wolf proident tousled bitters fingerstache. Quis kitsch est enim freegan, etsy chicharrones. Distillery ramps mlkshk whatever, artisan mustache eiusmod PBR&B occaecat XOXO exercitation pork belly activated charcoal squid trust fund. Chia letterpress readymade la croix 8-bit etsy swag, pok pok et man bun mlkshk salvia green juice.</p>
      <a href="">info@therules.org</a><br/>
      <a href="">Facebook</a> / <a href="">Twitter</a>
    </div>

    <!-- NEWSLETTER SIGNUP FORM -->
    <div class="col-md-4">
      <h4>First Name (Or Nickname)</h4>
      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">

      <h4>Second Name</h4>
      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">

      <h4>Email Address</h4>
      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">

      <br>
      <button type="button" class="btn btn-default">SIGN UP</button>
    </div>

  </div>
</div>