/* You can add global styles to this file, and also import other style files */
/* IMPORTS */
@import 'app/css/colors';
@import 'app/css/fonts';

//GLOBAL STYLES
body{
  background-color: $bgColor;
  color: $textColor;
}

h1,h2,h3,h4{
  color: $accentColor1;
  font-family: blackout-midnight;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}
h2 {
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 0;
}

p{
  color: $textColor;
}

//RESPONSIVE BOOTSTRAP STUFF
@media (max-width: 991px) {
  [class*="col-"]{
      margin-bottom: 25px;
  }
}

.row {
  margin: 2em 0;
}

/*VIDEO WRAPPER to maintain aspect ratio */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}