<div id="hero">
  <div id="video-viewport">
    <video id="hero-video" width="1280" height="720" autoplay muted playsinline
            poster="{{videos[activeVideoId].image}}"
            [src]="videos[activeVideoId].src" poster="assets/images/video_placeholder.jpg"
            [ngClass]="{'animate-hide': hideVideo }"
            >
      Your browser does not support the video tag.
    </video>
    
  </div>

  <div class="slideShow">
      <img [src]="v.image" class="img"
        *ngFor="let v of videos; let i = index" [attr.data-index]="i"
        [ngClass]="{'active': activeVideoId==i}"/>

      <!--<div
        class="img"
        [ngStyle]="{'background-image': 'url('+v.image+')'}"
        *ngFor="let v of videos; let i = index" [attr.data-index]="i"
        [ngClass]="{'active': activeVideoId==i}"> </div>-->
  </div>

  <div class="video-info" [ngClass]="{'animate-hide': hideVideo }">{{videoTitle}}</div>
</div>


<div class="container">

  <!--<div class="row">
    <div class="col-md-12">
      <h1>Our World</h1>
    </div>
  </div>-->

  <div class="row">
    <div class="col-md-6">
     <h1>Our World</h1>
      <p>
        Our world is in crisis. It’s political, economical, environmental, and spiritual.
      </p>

      <p>
        Everyone is asking why but few people are satisfied with the answers their politicians, the ‘experts’ or the media are giving them.
      </p>

      <p>
        At The Rules, we work to make sense of these crises, and reveal a global malaise, experienced differently in local contexts.
      </p>


    </div>
    <div class="col-md-6">
      <app-video-overlay [ytid]="'jA1_vcqvoFs'"></app-video-overlay>
      <!--<div class="video-container">
        <iframe class="video" width="100%" height="300" src="https://www.youtube.com/embed/9ncMdmLFe4Y?rel=0&amp;showinfo=0?ecver=1" frameborder="0" allowfullscreen></iframe>
      </div>-->
    </div>
  </div>
  <div class="row">
    <!-- Standing Rock Portrait-->
    <div class="col-md-3 visible-md-block visible-lg-block">
      <img src="./assets/images/standing-rock.png" alt="Standing Rock" height="100%" width="100%">
      <span class="image-caption">"Portrait of Dakota Woman in Standing Rock by /TR"</span>
    </div>

    <div class="col-md-9">
       <p>
        Our work is to connect the dots: to show how these seemingly disparate issues are all interconnected. We reveal and critique the rules of our system but we also shine a light on a diversity of beautiful alternatives, showing that we have the power to change those rules.
      </p>
      <p>
        As the Indian writer Arundhati Roy says: “Another world is not only possible, she is on her way. On a quiet day, I can hear her breathing.” The Rules exists to contribute to the transition to this more just and thriving world.
      </p>
    </div>
  </div>
</div>

<app-banner [imgSrc]="'assets/images/join-the-movement.jpg'" [title]="'Join the Collective'"></app-banner>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
        Now that you know a little more <a routerLink="/about">about The Rules</a> if you still have any questions you may <a routerLink="/faq">find the answer here</a>. If there’s a desire to know more, please get in touch.
      </p>

      <p>
        <a href="">info@therules.org</a><br/>
        <a href="">Facebook</a> / <a href="">Twitter</a>
      </p>

      <div class="join-bottom">
        <p>
        The Rules community is constantly growing and evolving. We’re deeply diverse, but share one thing in common - an interest in changing the way the world is currently working (even if we might disagree on how that might look). Join in!
        </p>
        <ul>
          <li>Sign up for /TR emails for mischief-making opportunities and remixable content</li>
          <li>Follow us on Twitter for updates, commentary and culture changing content: <a href="https://www.instagram.com/therulesorg">@TheRulesOrg</a></li>
          <li>
            Like us on Facebook for thoughtful insights, opportunities to engage and rigorous debate: <a href="https://www.facebook.com/therules.org">https://www.facebook.com/therules.org</a>
          </li>
          <li>Follow us on Instagram for creative interventions and pictures depicting what’s possible: @therulesorg</li>
        </ul>
      </div>

    </div>

    <!-- NEWSLETTER SIGNUP FORM -->
    <div class="col-md-4">
      <h4>First Name (Or Nickname)</h4>
      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">

      <h4>Second Name</h4>
      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">

      <h4>Email Address</h4>
      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">

      <br>
      <button type="button" class="btn btn-default">SIGN UP</button>
    </div>

  </div>
</div>
