/* IMPORTS */
@import '../css/colors';
@import '../css/fonts';
@import '../css/parallax';

@include parallax-init;

video{
  margin-top: -51px;
}

.top{
  background-image: url(/assets/images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 5%;
  z-index: 9999;
  background-color: transparent;
  animation: move 100s infinite linear;
  margin-top: -.1em;
  
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  .title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.1vw;
    width:80%;
    font-family: blackout-midnight;
    color: $accentColor1;
    font-size: 12vw;
    line-height: 1;
    text-align: center;
    text-shadow: 2px 2px 8px #000000;  }
}

@keyframes move {
   from {
    background-position: 0 center;
  }
  to {
    background-position: 100vw center;
  }
}

.join-the-movement-header{
  @include parallax($parallaxAmount);
  background-image: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0)), url(/assets/images/join-the-movement.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: $parallaxHeight;
  background-attachment: fixed;
}