<div class="jumbotron top">
  <div class="title">CHANGE<br>THE RULES</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Our Story</h1>
    </div>
  </div>
<!--</div>

<div class="container">-->
  <div class="row">
    <div class="col-md-6">
      <p>
        XXX We have a story to share about the future and how people are building it now.
      </p>
      <p>
        If we continue on our current trajectory marked by climate change, rising inequality, and corporate capture of the state, to name but a few issues, by 2023,  the year /TR as an organisation intends to supernovae [link here to about page if we mention intention to supernovae], this world will be a very different place. We can expect natural habitats to continue to collapse,  biodiversity, indigenous lands and ways of life to be lost, and even larger divide between the 1% and the rest of us, all of human life,  geared only towards consumption and production.
      </p>
    </div>
    <div class="col-md-6">
      <div class="video-container">
        <iframe class="video" width="100%" height="300" src="https://www.youtube.com/embed/9ncMdmLFe4Y?rel=0&amp;showinfo=0?ecver=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 visible-md-block visible-lg-block">
      <img src="./assets/images/standing-rock.png" alt="Standing Rock" height="100%" width="100%">
    </div>
    <div class="col-md-9">
      <p>
        The Rules is an activist collective that exists to reveal how these seemingly disparate issues are all interconnected, to shine a light on a diversity of beautiful alternatives, and to contribute to the transition from neoliberal capitalism to a just and thriving world. Another world is possible.
      </p>
      <p>
        If you’d like to know more, want to stand with us or contribute your story to the tapestry of post-capitalist narratives, have a look around the website. Here you will find more information about The Rules [link to about], what we do [link to whatever we decide], commentary and insight [link to blog] and how to get involved [link to get involved page].
      </p>
      <p>
        <strong>In love and solidarity.</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
</div>

<div class="parallaxWrapper">
  <div class="join-the-movement-header">
  </div>
</div>
<div class="container offset-parallax">
  <div class="row">
    <div class="col-md-12">
      <h1>Join the Movement</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>Keytar heirloom tote bag 3 wolf moon typewriter banjo sunt. Mumblecore dolor kitsch, deep v offal slow-carb biodiesel enim. Pork belly cardigan microdosing quinoa aliqua nisi. Wolf proident tousled bitters fingerstache. Quis kitsch est enim freegan, etsy chicharrones. Distillery ramps mlkshk whatever, artisan mustache eiusmod PBR&B occaecat XOXO exercitation pork belly activated charcoal squid trust fund. Chia letterpress readymade la croix 8-bit etsy swag, pok pok et man bun mlkshk salvia green juice.</p>
      <a href="">info@therules.org</a><br/>
      <a href="">Facebook</a> / <a href="">Twitter</a>
    </div>

    <!-- NEWSLETTER SIGNUP FORM -->
    <div class="col-md-4">
      <h4>First Name (Or Nickname)</h4>
      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">

      <h4>Second Name</h4>
      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">

      <h4>Email Address</h4>
      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">

      <br>
      <button type="button" class="btn btn-default">SIGN UP</button>
    </div>

  </div>
</div>